@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --main-color: #ffffff;
  --second-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.header {
  background-color: var(--main-color);
  min-height: 14vh;
  padding: 15px;
}

.header-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  height: 50px;
  text-align: center;
  gap: 5px;
}

.login-item img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.login-item span {
  margin: auto;
}

.main {
  min-height: 60vh;
  padding: 15px;
  position: relative;
}

.footer {
  background-color: var(--main-color);
  padding: 15px;
  min-height: 8vh;
  top: 0;
}

p.homepage {
  width: 600px;
  height: 50px;
  margin: 0;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  display: flex;
  align-items: center;

  color: #000000;
}

p.search {
  width: 200px;
  height: 15px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;

  display: flex;
  align-items: center;

  color: #000000;
}

input.search {
  box-sizing: border-box;

  width: 374px;
  height: 48px;

  border: 1px solid #000000;

  border-radius: 10px;
  padding: 7px;
}

.login-form input {
  box-sizing: border-box;

  width: 374px;
  height: 48px;

  border: 1px solid #000000;
}

.login-page,
.login-divs {
  display: flex;
  flex-direction: column;
}

button.search {
  min-width: 120px;
  height: 48px;
  border-radius: 10px;
  background-color: #aa77ee;
  color: #fff;
  transition: 1s;
}

button span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  color: #ffffff;
}

button:hover {
  background: #603697;
  transition: 2s;
}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  justify-items: center;
}

.category_card {
  width: 25%;
}

.category-image {
  width: 200px;
}

.category_card__name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;

  display: flex;
  align-items: center;

  color: #000000;
}

.showall {
  font-style: oblique;
  font-weight: 700;
}

.coins {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  justify-items: center;
  gap: 5px;
}

.coin_card {
  width: 24%;
}

img {
  width: 100%;
  height: 100px;
  display: block;
  position: relative;
  object-fit: cover;
  border: 2px solid black;
  border-radius: 5px;
}

img.coin {
  width: 100%;
  height: 150px;
  display: block;
  position: relative;
  object-fit: contain;
  border: 2px solid black;
  border-radius: 5px;
}

.advanced-search-click {
  cursor: pointer;
  user-select: none;
  width: 150px;
}

.advanced-search {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.advanced-search select {
  box-sizing: border-box;

  width: 374px;
  height: 48px;

  border: 1px solid #000000;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
}

.advanced-search input {
  box-sizing: border-box;

  width: 155px;
  height: 48px;

  border: 1px solid #000000;
}

.advanced-col {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.advanced-search-text {
  width: 300px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;

  color: #000000;
}

.mySlides {
  display: none;
}

.catalog-item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.catalog-item-info {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  border-radius: 5px;
  padding: 10px;
}

.catalog-item:first-child {
}

.catalog-item:nth-child(1) {
}

.catalog-item td {
  padding: 1px;
  min-width: 200px;
}

.catalog-item tr:nth-child(2n -1) {
  background-color: #aa77ee;
}

.catalog-item tr:nth-child(2n) {
  background-color: #959595;
}

.login-form {
  padding: 15px;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edititem-image {
  border: 50%;
  width: 120px;
  height: 120px;
}

.coin-item {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.edit-buttons {
  margin: auto;
  width: 250px;
}

.edit-image {
  width: 250px;
}

hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}

.edit-description {
  width: 60%;
}

.edititem {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.edititem-col {
  display: flex;
  flex-direction: column;
}

.edititem-row {
  display: flex;
  flex-direction: row;
}
